// 网站主标题
.navbar a .site-name{
  font-size: 1.5rem;
}

// 主导航的三层级项目组
.nav-item .dropdown-wrapper .nav-dropdown .dropdown-item h4 {
  margin: 0;
  padding-bottom: 0.5rem;
}
// 主导航的三层级项目
.dropdown-wrapper .nav-dropdown .dropdown-item .dropdown-subitem-wrapper .dropdown-subitem {
  padding-left: 1rem;
}

// 侧边栏项目组
.sidebar > .sidebar-links{
  font-size: 1.05rem;
}
// 侧边栏项目
.sidebar > .sidebar-links a.sidebar-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}