
:root{
  --primary: #EE7959; /* 默认主题颜色 */
  --font-color: #fb9532; /* 默认字体颜色 */
  --border-color: #eaecef; /* 默认边框颜色 */
  --bg-color: #282c34; /* 默认背景颜色 */
}

ul,
li{
  list-style: none;
}

/* flex 样式 */
.flex-H-center{
  display: flex;
  align-items: center;
}

/* padding 样式 */
.padding-H_1em{
  padding-left: 1em;
  padding-right: 1em;
}
.padding-V_05em{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* margin 样式 */
.margin-H_1em {  
  margin-left: 1em;
  margin-right: 1em;
}
.margin-l_1em {
  margin-left: 1em;
}
.margin-b_5em {
  margin-bottom: 0.5em;
}

/* hover 状态样式 */
.hover-color_primary:hover{
  color: var(--primary);
}

/* curser 指针手柄样式 */

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}